@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Ruslan+Display&display=swap');

:root {
  font-family: 'Electrolize', sans-serif;
  background-color: black;
  color: white;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Electrolize', sans-serif;
}